<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<!-- 引入DB配置文件 db.properties -->
	<properties resource="db.properties"></properties>
	<!-- 指定Mybatis日志具体实现 -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<package name="me.domain"/>
	</typeAliases>
	
	<!-- 配置数据源环境 -->
	<environments default="mysql">
		<environment id="mysql">
			<!-- 指定事务管理类型 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- dataSource指定数据源配置，POOLED是JDBC连接对象的数据源连接池的实现 -->
			<dataSource type="POOLED">
				<property name="driver" value="${dataSource.driverClass}"/>
				<property name="url" value="${dataSource.jdbcUrl}"/>
				<property name="username" value="${dataSource.user}"/>
				<property name="password" value="${dataSource.password}"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 配置持久化类的映射文件的扫描路径 -->
	<mappers>
		<package name="me.dao"/>
	</mappers>
</configuration>
